@import "tailwindcss";

@theme {
  --color-navy-900: #0B1F3A;
  --color-navy-950: #050E1F;
  --color-navy-800: #003380;
  --color-gold-500: #F59E0B;
  --color-gold-600: #D97706;
  --color-gold-400: #FBBF24;
  --color-gold-100: #FEF3C7;
}
